[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==6.7"
itsdangerous = "==0.24"
Flask = "==1.0.2"
"Jinja2" = "==2.10"
MarkupSafe = "==1.0"
Werkzeug = "==0.14.1"
python-engineio = "==2.1.0"
python-socketio = "==1.9.0"
six = "==1.11.0"
eventlet = "==0.23.0"
greenlet = "==0.4.13"

[dev-packages]

[requires]
python_version = "3.6"
