$color0 : black;
$color1 : #009688; /* green */
$color2 : #dadbd5; /* ocre */
$color3 : #eeeeee; /* grey */
$color4 : #e5ddd5; /* brown */

$color5 : #ffffff; /* white */
$color6 : #dcf8c6; /* lime green */
$color7 : #ab0d0d; /* blood red */
$color8 : #3838af; /* dark blue */
$color9 : #e1f3fa; /* baby blue */