/* green */
/* ocre */
/* grey */
/* brown */
/* white */
/* lime green */
/* blood red */
/* dark blue */
/* bacby blue */
html, body {
  background: #dadbd5;
  font-family: 'Roboto', sans-serif; }
  html div.main, body div.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    html div.main div.bg-head, body div.main div.bg-head {
      position: relative;
      height: 15%;
      width: 100%;
      background-color: #009688; }
    html div.main div.wrapper, body div.main div.wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 1% 4%;
      top: 0;
      left: 0;
      box-sizing: border-box; }
      html div.main div.wrapper div.chat-wrapper, body div.main div.wrapper div.chat-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #eeeeee;
        box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
        border-radius: 4px; }
        html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper {
          position: relative;
          width: 100%;
          height: 100%;
          background-color: #e5ddd5;
          box-sizing: border-box;
          border-radius: 4px;
          padding: 60px 0; }
          html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom {
            position: absolute;
            width: 100%;
            height: 60px;
            border-radius: 4px;
            background-color: #eeeeee; }
            html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header.msg-panel-header, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom.msg-panel-header, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header.msg-panel-header, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom.msg-panel-header {
              top: 0; }
            html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header.msg-panel-bottom, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom.msg-panel-bottom, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header.msg-panel-bottom, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom.msg-panel-bottom {
              bottom: 0; }
          html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body {
            position: relative;
            height: 100%;
            width: 100%;
            overflow: auto; }
            html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row {
              position: relative;
              width: 100%;
              margin-bottom: 15px;
              padding: 0 40px;
              box-sizing: border-box; }
              html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row:first-child, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row:first-child {
                margin-top: 20px; }
              html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row:last-child, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row:last-child {
                margin-bottom: 30px; }
              html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row.me, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row.me {
                padding-left: 52%; }
              html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row.they, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row.they {
                padding-right: 52%; }
              html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row.alert, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row.alert {
                padding-left: 15%;
                padding-right: 15%; }
              html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row > div.msg, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row > div.msg {
                position: relative;
                max-width: 100%;
                padding: 6px 20px;
                border-radius: 4px;
                box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
                color: #555; }
                html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row > div.msg.they, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row > div.msg.they {
                  background-color: #ffffff; }
                  html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row > div.msg.they strong, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row > div.msg.they strong {
                    color: #ab0d0d;
                    font-weight: 700; }
                html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row > div.msg.me, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row > div.msg.me {
                  background-color: #dcf8c6; }
                  html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row > div.msg.me strong, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row > div.msg.me strong {
                    color: #3838af;
                    font-weight: 700; }
                html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row > div.msg.alert, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row > div.msg.alert {
                  background-color: #e1f3fa;
                  text-align: center; }
          html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.left, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.center, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.right, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.left, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.center, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.right, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.left, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.center, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.right, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.left, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.center, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.right {
            height: 60px;
            box-sizing: border-box; }
          html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.center, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.center, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.center, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.center {
            width: 100%;
            padding: 5px 70px; }
            html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.center textarea, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.center textarea, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.center textarea, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.center textarea {
              width: 100%;
              height: 100%;
              outline: none;
              border: none;
              padding: 10px;
              box-sizing: border-box;
              border-radius: 3px;
              background-color: #fff;
              resize: none;
              font-weight: 700;
              color: #009688; }
          html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.left, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.right, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.left, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.right, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.left, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.right, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.left, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.right {
            position: absolute;
            top: 0;
            width: 60px; }
            html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.left.left, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.right.left, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.left.left, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.right.left, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.left.left, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.right.left, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.left.left, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.right.left {
              left: 0; }
              html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.left.left button.skip-button, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.right.left button.skip-button, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.left.left button.skip-button, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.right.left button.skip-button, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.left.left button.skip-button, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.right.left button.skip-button, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.left.left button.skip-button, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.right.left button.skip-button {
                width: 100%;
                height: 100%;
                outline: none;
                border: none;
                background-color: transparent;
                color: #ab0d0d; }
            html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.left.right, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.right.right, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.left.right, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.right.right, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.left.right, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.right.right, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.left.right, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.right.right {
              padding: 5px;
              right: 0; }
              html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.left.right button.send-button, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.left.right button.options-button, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.right.right button.send-button, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.right.right button.options-button, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.left.right button.send-button, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.left.right button.options-button, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.right.right button.send-button, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.right.right button.options-button, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.left.right button.send-button, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.left.right button.options-button, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.right.right button.send-button, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header div.right.right button.options-button, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.left.right button.send-button, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.left.right button.options-button, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.right.right button.send-button, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom div.right.right button.options-button {
                width: 100%;
                height: 100%;
                outline: none;
                border: none;
                background-color: transparent;
                color: #009688; }

@media screen and (max-width: 1024px) {
  html div.main div.wrapper, body div.main div.wrapper {
    padding: 0; }
    html div.main div.wrapper div.chat-wrapper, body div.main div.wrapper div.chat-wrapper {
      border-radius: unset; }
      html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper {
        border-radius: unset; }
        html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header, html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-header, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-bottom {
          border-radius: unset; }
        html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row.me, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row.me {
          padding-left: 25%; }
        html div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row.they, body div.main div.wrapper div.chat-wrapper div.msg-panel-wrapper div.msg-panel-body > div.row.they {
          padding-right: 25%; } }
